In [1]:
import pandas as pd
import json
import re
import pymongo
import jieba
import operator

In [2]:
IP:'123.241.175.34'
user:'root'
password:'1qaz@WSX3edc'

In [2]:
#連接 mongodb

client = pymongo.MongoClient(host='123.241.175.34', port=27017)

In [3]:
#mongodb帳號密碼

client.admin.authenticate('root', '1qaz@WSX3edc')



#設定名稱為test的資料庫 也可用 db = client['test']

db = client.raw_article

In [4]:
#顯示db中所有collections
db.list_collection_names()

['article_social', 'article_web', 'article_news']

In [6]:
#drop collection
#db.article_socialjson.drop()

In [5]:
article_social=db.article_social.find()
article_web=db.article_web.find()
article_news=db.article_news.find()

In [6]:
df_article_social=pd.DataFrame(list(article_social))
df_article_web=pd.DataFrame(list(article_web))
df_article_news=pd.DataFrame(list(article_news))

In [7]:
df_article_social[:2]

                        _id                                            content
0  5dd39ed135cc75f4e568cc8f  #公告 信用卡板板主\n本板板主為：信用卡板小天使https://www.dcard.tw/...
1  5dd39ed135cc75f4e568cc90  信用卡板板規\n宗旨：信用卡資訊分享，包含核卡心得、使用心得、剪卡心得、里程累積心得。?? ...

In [10]:
df_article_news[:1]

                        _id                                            content
0  5dd3987235cc75f4e568b6b4  國內刷卡回饋重洗牌　無腦刷排行榜大車拼\n\n\n　　下半年信用卡市場「流血搶市」，多家銀行...

In [8]:
df_article_web[:1]
df_article_web['seg']=None
#df_article_web['word_freq']=None

In [9]:
#df_article_web
n=len(df_article_web)
alltext=[]
stopset=set()
stop2=['/n','','\n']


with open(r'E:/專題/credit_card/DB104_hau/stop.txt','r',encoding='utf-8') as s:
    for line in s:
        stopset.add(line.strip('\n'))
jieba.load_userdict(r'E:/專題/credit_card/DB104_hau/userdict.txt')
for i in range(n):
    seg=[]
    wf={}
    text= str(df_article_web.loc[i]['content'])
    cut=jieba.lcut(text,cut_all=False)
    for j in cut:
        if j not in stopset:
            seg.append(cut)
    df_article_web['seg'][i]=seg
#     for w in seg.split(' '):
#         if w not in wf:
#             wf[w]=1
#         else:
#             wf[w]+=1
    #word_list=[wf.items() for k in wf if k not in stop2 ]
#     word_list=sorted(wf.items(),key=lambda a :a[1],reverse=True)
#     df_article_web['word_freq'][i]=word_list

del df_article_web['_id']
del df_article_web['content']
df_article_web[:3]

Building prefix dict from the default dictionary ...
Loading model from cache C:\Users\BIGDAT~1\AppData\Local\Temp\jieba.cache
Loading model cost 0.958 seconds.
Prefix dict has been built succesfully.

                                                 seg
0  [[玉山, Pi, 拍, 錢包, 信用卡, 》, 國內, 4.5%, ., 海外, 3%, ...
1  [[2019, 行事, 曆, 》, 連假, 出國, 旅遊, 請假, 攻略, 最高, 連休, ...
2  [[信用卡, 》, 2019, 海外, 刷卡, 消費, 現金回饋, 必備, 推薦, TOP,...

In [10]:
#article_social
df_article_social[:1]
df_article_social['seg']=None
#df_article_social['word_freq']=None

In [11]:
n=len(df_article_social)
alltext=[]
stopset=set()
stop2=['/n','','\n']


with open(r'E:/專題/credit_card/DB104_hau/stop.txt','r',encoding='utf-8') as s:
    for line in s:
        stopset.add(line.strip('\n'))
jieba.load_userdict(r'E:/專題/credit_card/DB104_hau/userdict.txt')
for i in range(n):
    seg=[]
    wf={}
    text= str(df_article_social.loc[i]['content'])
    cut=jieba.lcut(text,cut_all=False)
    for j in cut:
        if j not in stopset:
            seg.append(cut)
    df_article_social['seg'][i]=seg
#     for w in seg.split(' '):
#         if w not in wf:
#             wf[w]=1
#         else:
#             wf[w]+=1
#     #word_list=[wf.items() for k in wf if k not in stop2 ]
#     word_list=sorted(wf.items(),key=lambda a :a[1],reverse=True)
#     df_article_social['word_freq'][i]=word_list

del df_article_social['_id']
del df_article_social['content']
df_article_social[:3]

                                                 seg
0  [[#, 公告,  , 信用卡, 板板主, \n, 本板, 板主為, ：, 信用卡, 板, ...
1  [[信用卡, 板板規, \n, 宗旨, ：, 信用卡, 資訊, 分享, ，, 包含, 核卡,...
2  [[#, 情報,  , 街口聯名卡, 10, /, 29, 上市, \n, 不, 囉, 嗦,...

In [12]:
#df_article_news
df_article_news[:1]
df_article_news['seg']=None
#df_article_news['word_freq']=None

In [13]:
n=len(df_article_news)
alltext=[]
stopset=set()
stop2=['/n','','\n']


with open(r'E:/專題/credit_card/DB104_hau/stop.txt','r',encoding='utf-8') as s:
    for line in s:
        stopset.add(line.strip('\n'))
jieba.load_userdict(r'E:/專題/credit_card/DB104_hau/userdict.txt')
for i in range(n):
    seg=[]
    wf={}
    text= str(df_article_news.loc[i]['content'])
    cut=jieba.lcut(text,cut_all=False)
    for j in cut:
        if j not in stopset:
            seg.append(cut)
    df_article_news['seg'][i]=seg
#     for w in seg.split(' '):
#         if w not in wf:
#             wf[w]=1
#         else:
#             wf[w]+=1
#     #word_list=[wf.items() for k in wf if k not in stop2 ]
#     word_list=sorted(wf.items(),key=lambda a :a[1],reverse=True)
#     df_article_news['word_freq'][i]=word_list
del df_article_news['_id']
del df_article_news['content']
df_article_news[:3]

                                                 seg
0  [[國內, 刷卡, 回饋, 重, 洗牌, 　, 無腦, 刷, 排行榜, 大車, 拼, \n,...
1  [[直擊雙, 11, 電商, AI, 倉儲, 　, 下, 單到, 出貨僅, 10, 分鐘, ...
2  [[雙, 11, 網購, 主打, 賓士車, 　, 交易, 攻略, 回饋, 16.8, 萬元,...

In [14]:
db_ETL = client.ETL
#collsoc = db.article_social
collweb = db_ETL.article_web_seg
collnews =db_ETL.article_news_seg
collsocial = db_ETL.article_social_seg

In [ ]:
#將dataframe轉成能存入mongodb的json格式

data_social = json.loads(df_article_social.T.to_json()).values()
data_social[:2]

In [ ]:
data_news = json.loads(df_article_news.T.to_json()).values()

In [ ]:
data_web = json.loads(df_article_web.T.to_json()).values()

In [ ]:
type(data_web)

In [ ]:
#將資料存入mongodb
collsocial.insert_many(data_social)

In [ ]:
collnews.insert_many(data_news)

In [ ]:
collweb.insert_many(data_web)

In [6]:
db_ETL.list_collection_names()

[]

In [ ]:
#export to json
df_article_social.to_json('./article_social_seg.json',orient='index',force_ascii=False)
df_article_news.to_json('./article_news_seg.json',orient='index',force_ascii=False)
df_article_web.to_json('./article_web_seg.json',orient='index',force_ascii=False)

In [28]:
client.database_names()

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning: database_names is deprecated. Use list_database_names instead.
  """Entry point for launching an IPython kernel.

['ETL', 'admin', 'config', 'local', 'raw_article', 'test']

In [5]:
db_ETL=client.ETL

In [7]:
#db_ETL.article_news_seg.drop()
#db_ETL.article_web_seg.drop()
#db_ETL.article_social_seg.drop()
#drop collection
#db.article_socialjson.drop()

In [ ]:
db_ETL